<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<%= form_with model: @group, url: group_registration_path, class: 'registration-main', local: true do |f| %>
 <div class="form-wrapper">
  <h3>新規グループ作成</h3>

  <%# エラーメッセージの部分テンプレート%>
  <%= render 'share/error_messages', model: f.object %>
  
  <%# 入力項目 %>
  <div class="form-group">
    <div class='form-item'>
      <label class="form-text"></label>
    </div>
    <%= f.text_field :group_name, class:"input-default", id:"group_name", placeholder:"グループ名" %>
  </div>
  <div class="form-group">
    <div class='form-item'>
      <label class="form-text"></label>     
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワード（6文字以上の英数字）" %> 
  </div>
  <div class="form-group">
    <div class='form-item'>
      <label class="form-text"></label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"確認用パスワード" %>
  </div>
  <div class="form-group">
    <div class='form-item'>
      <label class="form-text"></label>
    </div>
    <%= f.text_field :note, class:"input-default", id:"note", placeholder:"備考（任意）" %>
  </div>
  <%# 入力項目ここまで %>

  <div class='button-panel'>
    <%= f.submit "グループを登録する" ,class:"button" %>
  </div>
<% end %>
<div class="back-button">
  <%= link_to "戻る", root_path, class:"back_btn" %>
</div>