<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="main_show">
  <div class="show_top">
    <div class="g_name">
      <%= @group.group_name %>
    </div>
    <div class="created-date">
      <%= "作成日： "+ @group.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>
  <div class="show_center">
    <div class="show_center_top">
      <div class="g_note">
        <%= @group.note %>
      </div>
    <div class="show_center_bottom">
    <%# カレンダー表示のリンク先を変更%>
      <%= link_to "カレンダー表示", group_schedules_path(@group.id), class:"to_calendar" %>
      <%= link_to "退会する", group_path(@group), method: :delete, class:"withdrawale" %>
    </div>
  </div>
  <div class="show_bottom">
    <div class="show_bottom_left">
    </div>
    <div class="show_bottom_center">
      <p class="member">【参加中のメンバー】</p>
      <div class="member_list">
        <ul class="members">
          <% @group.users.each do |user| %>
            <li><%= link_to user.name, user_path(user.id), class:"g_member" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="show_bottom_right">
    </div>
  </div>
</div>