<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="mypage">
  <div class="left-contents">
    <div class="image">
   
    <%= image_tag @user.image.variant(resize: '300x300'), class: 'profile-image' if @user.image.attached? %>
    </div>
    <% if user_signed_in? && current_user.id == @user.id%>
    <%= link_to "マイページ編集",edit_user_path(:id), class: "compilation" %>
    <% end %>
  </div>
  <div class="right-contents">
    <div class="user-name2">
      <p><%= @user.name %>のマイページ</p>
    </div>
    <div class="user-department">
      <p>部署名：<%= @user.department_name %></p>
    </div>
    <% if user_signed_in? && current_user == @user %>
      <%# 共通部分%>
      <%= render "share/group-list" %>
      <%# 共通部分ここまで%>
    <% end %>
  </div>
</div>
