<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>

<div class="mypage">
  <div class="left-contents">
    <div class="image">
    <%#= image_tag user.image, class: 'profile-image' if user.image.attached? %>
    <%= image_tag current_user.image.variant(resize: '300x300'), class: 'profile-image' if current_user.image.attached? %>
    </div>
    <% if user_signed_in? && current_user %>
    <%= link_to "マイページ編集",edit_user_path(:id), class: "compilation" %>
    <% end %>
  </div>
  <div class="right-contents">
    <div class="user-name2">
    <%# current_userはグループ機能実装後に書き換える%>
      <p><%= current_user.name %>のマイページ</p>
    </div>
    <div class="user-department">
    <%# current_userはグループ機能実装後に書き換える%>
      <p>部署名：<%= current_user.department_name %></p>
    </div>
    <div class="group_name">
      <p>参加中のグループ</p>
    </div>
  </div>
</div>
