<%# 共通部分%>
<%= render "share/header" %>
<%# 共通部分ここまで%>
<div>
  <%= @group.group_name %>
  <%#= @user.name %>
  <%#= link_to 'スケジュール作成', new_group_schedule_path %>
</div>
<div class="simple_calendar">
  <%= month_calendar schedules: @schedules do |date, schedule| %>
    <%= date.day %>
  
   <%# スケジュールの表示 %>
    <% @schedules.each do |schedule| %>
    <div>
      <%= schedule.title %>
    </div>
  <% end %>

  <% end %>
</div>

<%# 新規作成フォーム %>
<div class="new_schedule">
<span>スケジュール作成</span>
</div>
<%= form_with(model: [@group, @schedule], local: true) do |f| %>
  <div class="title">
    <%= f.text_field :title, class:"input-default", id:"title", placeholder:"タイトル" %>
  </div>

  <div class="time">
    <%= f.label :start_time, "開始日時" %>
    <%= f.datetime_select :start_time, class:"input-default", id:"start_time", placeholder:"開始日時"  %>
  </div>

  <div class="time">
    <%= f.label :finish_time, "終了日時" %>
    <%= f.datetime_select :finish_time,  class:"input-default", id:"finish_time", placeholder:"終了日時"  %>
  </div>

  <div class="all_day">
    <%= f.label :all_day, "終日" %>
    <%= f.check_box 'all_day', {:checked => false}, checked_value = 'true',unchecked_value = 'false' %>

  <div class="note">
    <%= f.text_field :note, class:"input-default", id:"note", placeholder:"備考"  %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>